@model Contact

@{ 
    ViewBag.Title = "Contact Details";
}

<h2>Contact Details</h2>

<ul class="list-group">
    <li class="list-group-item">
        <label>Name:</label>
        @Model.FirstName @Model.LastName
    </li>
    <li class="list-group-item">
        <label>Phone:</label>
        @Model.Phone
    </li>
    <li class="list-group-item">
        <label class="w-10">Email:</label>
        @Model.Email
    </li>
    <li class="list-group-item">
        <label>Organization:</label>
        @Model.Organization
    </li>
    <li class="list-group-item">
        <label>Category:</label>
        @Model.Category.Name
    </li>
    <li class="list-group-item">
        <label>Date Added:</label>
        @Model.DateAdded.ToShortDateString() at @Model.DateAdded.ToShortTimeString()
    </li>
    <li class="list-group-item">
        <a asp-controller="Contact" asp-action="Edit"
           asp-route-id="@Model.ContactId" asp-route-slug="@Model.Slug"
           class="btn btn-dark">Edit</a>

        <a asp-controller="Contact" asp-action="Delete"
           asp-route-id="@Model.ContactId" asp-route-slug="@Model.Slug"
           class="btn btn-dark">Delete</a>

        <a asp-controller="Home" asp-action="Index"
           class="btn btn-dark">Home</a>

    </li>
</ul>